/*Body*/
body{
    background-color: #f6f7fd!important;
}
/*Box_SHadow*/
.box_shadow{
    box-shadow: 1px 2px 6px 0 #3333330d!important;
}
.MuiPaper-elevation1 {
    box-shadow: none!important;
}
/*MuiChip-root*/
.MuiChip-root{
    background-color: #ff9800ab!important;
}